<?xml version="1.0" encoding="UTF-8"?>
<quartz xmlns="http://quartznet.sourceforge.net/JobSchedulingData"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 				version="1.0"
				overwrite-existing-jobs="true">
  
  <job>
    <job-detail>
      <name>Backup</name>
      <description>Executes data repository backup</description>
      <job-type>NBlog.Web.Application.Job.Backup, NBlog.Web</job-type>
    </job-detail>
    <trigger>
      <cron>
        <name>BackupTrigger</name>
        <description>A description</description>
        <job-name>Backup</job-name>
        <!-- Every day at 12pm (5pm hosting local time) -->
        <cron-expression>0 0 17 ? * *</cron-expression>
      </cron>
    </trigger>
  </job>

</quartz>