<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="4.48.4489.28432" targetFramework="net451" />
  <package id="AntiXSS" version="4.2.1" targetFramework="net451" />
  <package id="AppLimit.CloudComputing.SharpBox" version="1.2.0.542" targetFramework="net451" />
  <package id="Autofac" version="3.1.1" targetFramework="net451" />
  <package id="Autofac.Mvc4" version="3.1.0" targetFramework="net451" />
  <package id="Common.Logging" version="2.1.2" targetFramework="net451" />
  <package id="DotNetOpenAuth" version="5.0.0-alpha1" targetFramework="net451" />
  <package id="DotNetOpenAuth.Core" version="5.0.0-alpha1" targetFramework="net451" />
  <package id="DotNetOpenAuth.Core.UI" version="5.0.0-alpha1" targetFramework="net451" />
  <package id="DotNetOpenAuth.OAuth.Common" version="5.0.0-alpha1" targetFramework="net451" />
  <package id="DotNetOpenAuth.OAuth.Consumer" version="5.0.0-alpha1" targetFramework="net451" />
  <package id="DotNetOpenAuth.OAuth.Core" version="5.0.0-alpha1" targetFramework="net451" />
  <package id="DotNetOpenAuth.OAuth.ServiceProvider" version="5.0.0-alpha1" targetFramework="net451" />
  <package id="DotNetOpenAuth.OAuth2.AuthorizationServer" version="5.0.0-alpha1" targetFramework="net451" />
  <package id="DotNetOpenAuth.OAuth2.Client" version="5.0.0-alpha1" targetFramework="net451" />
  <package id="DotNetOpenAuth.OAuth2.Client.UI" version="5.0.0-alpha1" targetFramework="net451" />
  <package id="DotNetOpenAuth.OAuth2.ClientAuthorization" version="5.0.0-alpha1" targetFramework="net451" />
  <package id="DotNetOpenAuth.OAuth2.Core" version="5.0.0-alpha1" targetFramework="net451" />
  <package id="DotNetOpenAuth.OAuth2.ResourceServer" version="5.0.0-alpha1" targetFramework="net451" />
  <package id="DotNetOpenAuth.OpenId.Core" version="5.0.0-alpha1" targetFramework="net451" />
  <package id="DotNetOpenAuth.OpenId.Core.UI" version="5.0.0-alpha1" targetFramework="net451" />
  <package id="DotNetOpenAuth.OpenId.Provider" version="5.0.0-alpha1" targetFramework="net451" />
  <package id="DotNetOpenAuth.OpenId.Provider.UI" version="5.0.0-alpha1" targetFramework="net451" />
  <package id="DotNetOpenAuth.OpenId.RelyingParty" version="5.0.0-alpha1" targetFramework="net451" />
  <package id="DotNetOpenAuth.OpenId.RelyingParty.UI" version="5.0.0-alpha1" targetFramework="net451" />
  <package id="DotNetOpenAuth.OpenIdOAuth" version="5.0.0-alpha1" targetFramework="net451" />
  <package id="DotNetZip" version="1.9.1.8" targetFramework="net451" />
  <package id="MarkdownSharp" version="1.13.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="5.0.0-beta1" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.0.0-beta1" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi" version="5.0.0-beta1" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.0.0-beta1" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.0.0-beta1" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.0.0-beta1" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.0.0-beta1" targetFramework="net451" />
  <package id="Microsoft.Bcl" version="1.1.3" targetFramework="net451" />
  <package id="Microsoft.Bcl.Build" version="1.0.7" targetFramework="net451" />
  <package id="Microsoft.Data.Edm" version="5.2.0" targetFramework="net451" />
  <package id="Microsoft.Data.OData" version="5.2.0" targetFramework="net451" />
  <package id="Microsoft.Net.Http" version="2.2.13" targetFramework="net451" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.1.0" targetFramework="net451" />
  <package id="mongocsharpdriver" version="1.8.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net451" />
  <package id="Quartz" version="2.1.2" targetFramework="net451" />
  <package id="SquishIt" version="0.9.3-beta7" targetFramework="net451" />
  <package id="System.Spatial" version="5.2.0" targetFramework="net451" />
  <package id="Validation" version="2.0.2.13022" targetFramework="net451" />
  <package id="WindowsAzure.Storage" version="2.1.0.0-rc" targetFramework="net451" />
  <package id="YUICompressor.NET" version="2.0.0.0" targetFramework="net451" />
</packages>