@{
    var controller = ViewContext.RouteData.Values["controller"].ToString();
    var action = ViewContext.RouteData.Values["action"].ToString();
    var items = NBlog.Web.Resources.Themes.Emplode.EmplodeMenu.GetItems(controller, action);
}
<ul>
    @foreach (var item in items)
    {
        <li class="@item.CssClass">@Html.ActionLink(item.Text, item.Action, item.Controller)</li>
    }
</ul>
