<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="SqlConnectionString" value="Server=.;Trusted_Connection=True;" />
        <add key="SqlDatabaseName" value="NBlogIntegrationTests" />
        
        <add key="MongoConnectionString" value="mongodb://localhost" />
        <add key="MongoDatabaseName" value="nblog-integration-tests" />
    </appSettings>
</configuration>